@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #213555;
  font-size: 1.1rem;
  color:#213555;
}

.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #4F709C;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.container {
  background: #D8C4B6;
  margin-top: 5rem;
  padding: 3rem;
  width: 75%;
}


.button {
  background: #F5EFE7;
  border: none;
  font-size: 1.1rem;
  color:#213555;
  font-weight: 500;
  padding: 1.4rem;
  cursor: pointer; 
}

.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.author{
  text-align: right;
  font-weight: 500;
  text-align: right;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 800px){
  .author{
    padding-right: 1.5rem;
  }

}

@media screen and (max-width: 500px){

  body {
    font-size: 1rem;
  }
  
  .container {
    width: 90%;
  }

  h2 {
    font-size: 1.4rem;
  }

  .author{
    padding-right: 0.8rem;
  }

  .button {
    font-size: 1rem;
    padding: 1.3rem;
  }
}

@media screen and (max-width: 350px){

  .container {
    margin-top: 5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 1rem;
  }
}